npm-debug.log
yarn-error.log
node_modules
.idea
package-lock.json
yarn.lock
projects/*/www/
projects/**/platforms/android/assets/
projects/**/platforms/android/build/
projects/**/platforms/android/CordovaLib/build/
.DS_Store
projects/**/platforms/android/.gradle/
projects/**/platforms/android/release-signing.properties
build_apk
projects/**/platforms/ios/*.xcarchive
projects/**/platforms/ios/www/*.png
projects/**/platforms/ios/www/*.svg
projects/**/platforms/ios/www/*.html
projects/**/platforms/ios/www/*.js
projects/**/platforms/ios/www/*.ttf
projects/**/platforms/ios/www/*.woff
projects/**/platforms/ios/www/*.woff2
projects/**/platforms/ios/www/*.eot
projects/*/src/fonts/icons/
/EXPORT/
/keyHockeyApp.js
/wallets-type.js
/test/unit/coverage
/wallets.config.js
/CORE/__configs.generate__/
/CORE/__tmp__/
/CORE/__tmp_langs__/
analiz.js
stats.json
tests_output
chromedriver.log
