@include b(button) {
    min-height: $button-control-height;
    padding: $button-padding;
    color: $button-color;
    line-height: $button-control-height;
    transition: all 0.1s ease-in;

    @extend .flex;
    @extend .flex--justify-center;
    @extend .flex--align-center;

    @if (mixin-exists(hook-button)) {
        @include hook-button();
    }

    &:active,
    &:hover {
        @if (mixin-exists(hook-button-active)) {
            @include hook-button-active();
        }
    }

    @include m(default) {
        @if (mixin-exists(hook-button-default)) {
            @include hook-button-default();
        }
    }

    @include m(text) {
        @if (mixin-exists(hook-button-text)) {
            @include hook-button-text();
        }

        &:active,
        &:hover {
            @if (mixin-exists(hook-button-text-active)) {
                @include hook-button-text-active();
            }
        }
    }

    @include m(text-secondary) {
        color: $button-color;
        background: none;

        @if (mixin-exists(hook-button-text-secondary)) {
            @include hook-button-text-secondary();
        }

        &:active {
            @if (mixin-exists(hook-button-text-secondary-active)) {
                @include hook-button-text-secondary-active();
            }
        }
    }

    @include m(primary) {
        color: $button-primary-color;
        background: $button-primary-background;

        @if (mixin-exists(hook-button-primary)) {
            @include hook-button-primary();
        }

        &:active {
            @if (mixin-exists(hook-button-primary-active)) {
                @include hook-button-primary-active();
            }
        }
    }

    @include m(outline) {
        color: $button-outline-color;
        border-width: $button-outline-border-width;
        border-color: $button-outline-border-color;

        @if (mixin-exists(hook-button-outline)) {
            @include hook-button-outline();
        }

        &:hover,
        &:visited,
        &:active {
            @if (mixin-exists(hook-button-outline-active)) {
                @include hook-button-outline-active();
            }
        }
    }

    @include m(warning) {

    }

    @include m(danger) {

    }

    @include m(secondary) {
        &:active {
            @if (mixin-exists(hook-button-secondary-active)) {
                @include hook-button-secondary-active();
            }
        }

        @if (mixin-exists(hook-button-secondary)) {
            @include hook-button-secondary();
        }
    }

    @include m(small) {

    }

    @include m(medium) {

    }

    @include m(full-width) {
        @extend .width--full;
        @extend .text--center;
    }

    @include m(large) {

    }

    @include m(main) {
        @if (mixin-exists(hook-button-main)) {
            @include hook-button-main();
        }

        &:hover,
        &:visited,
        &:active {
            @if (mixin-exists(hook-button-main-active)) {
                @include hook-button-main-active();
            }
        }
    }

    @include m(auth) {
        @if (mixin-exists(hook-button-auth)) {
            @include hook-button-auth();
        }
    }

    @include m(add) {
        font-size: $button-add-font-size;

        @if (mixin-exists(hook-button-add)) {
            @include hook-button-add();
        }

        &:hover,
         &:visited,
         &:active {
            @if (mixin-exists(hook-button-add-active)) {
                @include hook-button-add-active();
            }
        }
    }

    @include m(circle) {
        padding: 0;
        font-size: $button-circle-font-size;
        border-radius: 50%;

        @include size($button-circle-size, $button-circle-size);

        @extend .flex;
        @extend .flex--justify-center;
        @extend .flex--align-center;

        @if (mixin-exists(hook-button-circle)) {
            @include hook-button-circle();
        }

        &:active {
            @if (mixin-exists(hook-button-circle-active)) {
                @include hook-button-circle-active();
            }
        }
    }

    @include m(clear) {
        @if (mixin-exists(hook-button-clear)) {
            @include hook-button-clear();
        }

        &:active {
            @if (mixin-exists(hook-button-clear-active)) {
                @include hook-button-clear-active();
            }
        }
    }

    @include m(expanded) {
        @if (mixin-exists(hook-button-expanded)) {
            @include hook-button-expanded();
        }
    }

    @include m(quiet) {
        @if (mixin-exists(hook-button-quiet)) {
            @include hook-button-quiet();
        }

        &:active {
            @if (mixin-exists(hook-button-quiet-active)) {
                @include hook-button-quiet-active();

                opacity: $button-opacity-active-primary;
            }
        }
    }
}

@if (mixin-exists(hook-button-misc)) {
    @include hook-button-misc();
}
