<?xml version='1.0' encoding='utf-8'?>
<widget id="pro.mwallet.kulikovskyuat" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kulikovsky</name>
    <description>Kulikovsky application.</description>
    <author email="app@walletfactory.com" href="https://walletfactory.com/">
        © 2015-2019 Managed by walletfactory.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="xwalkZOrderOnTop" value="true" />
        <preference name="BackgroundColor" value="0" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <preference name="SplashScreenDelay" value="3000" />
    </platform>
    <platform name="ios">
        <splash src="res/ios/Default@1x~iphone~comany.png" />
        <splash src="res/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/ios/Default@2x~iphone~comany.png" />
        <splash src="res/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/ios/Default@3x~iphone~anycom.png" />
        <splash src="res/ios/Default@3x~iphone~comany.png" />
        <splash src="res/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/ios/Default@2x~ipad~comany.png" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="KeyboardResize" value="false" />
        <preference name="WKWebViewOnly" value="true" />
        <config-file parent="FirebaseAppDelegateProxyEnabled" platform="ios" target="*-Info.plist">
            <true />
        </config-file>
        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file parent="UIUserInterfaceStyle" platform="ios" target="**-Info.plist">
            <string>Light</string>
        </config-file>
    </platform>
    <preference name="GOOGLE_MAPS_ANDROID_API_KEY" value="AIzaSyAxCXah1ycNBb7keqjBW1ZQ92FqNSgEdC8" />
    <preference name="GOOGLE_MAPS_IOS_API_KEY" value="AIzaSyAxCXah1ycNBb7keqjBW1ZQ92FqNSgEdC8" />
</widget>
