
@font-face {
    font-family:"icons";
    
    src: url("Kulikovsky.eot?5a7c29a4481ed1b1c1c7b621aa76fb59");
    
    src: url("Kulikovsky.eot?5a7c29a4481ed1b1c1c7b621aa76fb59#iefix") format("embedded-opentype"),
		url("Kulikovsky.woff?5a7c29a4481ed1b1c1c7b621aa76fb59") format("woff"),
		url("Kulikovsky.ttf?5a7c29a4481ed1b1c1c7b621aa76fb59") format("truetype");
    font-weight:normal;
    font-style:normal;
}


.ons-icon[icon]:before,
[class^="icon"]:before {
    font-family:"icons";
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Icons */

.icon-arrow-drop-down:before,
.ons-icon[icon="arrow-drop-down"]:before { content:"\f101"; }
.icon-arrow-drop-up:before,
.ons-icon[icon="arrow-drop-up"]:before { content:"\f102"; }
.icon-arrow:before,
.ons-icon[icon="arrow"]:before { content:"\f103"; }
.icon-back:before,
.ons-icon[icon="back"]:before { content:"\f104"; }
.icon-bird:before,
.ons-icon[icon="bird"]:before { content:"\f105"; }
.icon-cake:before,
.ons-icon[icon="cake"]:before { content:"\f106"; }
.icon-card:before,
.ons-icon[icon="card"]:before { content:"\f107"; }
.icon-checkmark:before,
.ons-icon[icon="checkmark"]:before { content:"\f108"; }
.icon-close:before,
.ons-icon[icon="close"]:before { content:"\f109"; }
.icon-download-photo:before,
.ons-icon[icon="download-photo"]:before { content:"\f10a"; }
.icon-edit:before,
.ons-icon[icon="edit"]:before { content:"\f10b"; }
.icon-email:before,
.ons-icon[icon="email"]:before { content:"\f10c"; }
.icon-exclamation:before,
.ons-icon[icon="exclamation"]:before { content:"\f10d"; }
.icon-eye-closed:before,
.ons-icon[icon="eye-closed"]:before { content:"\f10e"; }
.icon-eye-opened:before,
.ons-icon[icon="eye-opened"]:before { content:"\f10f"; }
.icon-face-id:before,
.ons-icon[icon="face-id"]:before { content:"\f110"; }
.icon-home:before,
.ons-icon[icon="home"]:before { content:"\f111"; }
.icon-k-logo:before,
.ons-icon[icon="k-logo"]:before { content:"\f112"; }
.icon-k-symbol:before,
.ons-icon[icon="k-symbol"]:before { content:"\f113"; }
.icon-location:before,
.ons-icon[icon="location"]:before { content:"\f114"; }
.icon-nearby:before,
.ons-icon[icon="nearby"]:before { content:"\f115"; }
.icon-news-notification:before,
.ons-icon[icon="news-notification"]:before { content:"\f116"; }
.icon-news:before,
.ons-icon[icon="news"]:before { content:"\f117"; }
.icon-next-page:before,
.ons-icon[icon="next-page"]:before { content:"\f118"; }
.icon-no-avatar:before,
.ons-icon[icon="no-avatar"]:before { content:"\f119"; }
.icon-notifications:before,
.ons-icon[icon="notifications"]:before { content:"\f11a"; }
.icon-phone:before,
.ons-icon[icon="phone"]:before { content:"\f11b"; }
.icon-poll:before,
.ons-icon[icon="poll"]:before { content:"\f11c"; }
.icon-profile:before,
.ons-icon[icon="profile"]:before { content:"\f11d"; }
.icon-promotion:before,
.ons-icon[icon="promotion"]:before { content:"\f11e"; }
.icon-qr-code:before,
.ons-icon[icon="qr-code"]:before { content:"\f11f"; }
.icon-search:before,
.ons-icon[icon="search"]:before { content:"\f120"; }
.icon-sucess:before,
.ons-icon[icon="sucess"]:before { content:"\f121"; }
.icon-time:before,
.ons-icon[icon="time"]:before { content:"\f122"; }
