
.contacts-wrapper {
    position: relative;
     &::after {
         top: 0;
         left: -16px;
         content: '';
         position: absolute;
         width: 100vw;
         height: 100%;
         z-index: -1;
         border-radius: 0 0 8px 8px;
     }
    color: #000000;
    .contacts-title {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.41px;
        line-height: 22px;
    }
    .contacts-subtitle {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.24px;
        line-height: 20px;
        padding-bottom: 8px;
    }
    .contacts-lined-info {
        font-size: 13px;
        letter-spacing: -0.208px;
        line-height: 20px;
        text-decoration: underline;
    }
    .contacts-link {
        text-decoration: none;
    }
    .contacts-info {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }
    .contacts-info-sub {
        display: flex;
        flex-direction: column;
    }
    .contacts-icon {
        display: flex;
        align-items: center;
        img, .v-btn--fab {
            height: 36px;
            width: 36px;
        }
        .v-btn--fab {
            background-color: #6D0978 !important;
        }
        .v-btn__content {
            color: #ffffff;
        }
        .v-btn--fab i {
            font-size: 0.9rem;
        }
    }
    .padding-bottom {
        padding-bottom: 15px;
    }
    .contacts-work-ours {
        text-decoration: none;
        font-size: 12px;
        line-height: 16px;
        color: rgba(60,60,67,0.6);
    }
}
.contacts-bottom {
    color: #000000;
    padding-top: 16px;
    .list--card {
        padding-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        overflow: visible;

        .list-item {
            padding: 9px 16px!important;
            min-height: 48px!important;
            box-shadow: none;
            flex: 1 1;



            &:nth-child(1) {
                margin-right: 4px;
            }
        }
    }
    .center {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.24px;
        line-height: 20px;
        padding-left: 12px;
    }
}

.dropdown-list__content {
    text-shadow: none !important;
}

.dropdown-list {
    margin: 6px 0;
    overflow: visible;

    .list-item__top {
        background: #FFFFFF;
        box-shadow: 0px 8px 15px rgba(39, 45, 45, 0.06);
        border-radius: 8px;
        height: 48px;
        width: 100%;
        padding: 16px;
        font-weight: 600;
        font-size: rem(15);
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #000000;
        z-index: 2;
        //margin: 12px 0px;

        img {
            height: 18px;
            margin-right: 12px;
        }
    }

    &__content {
        //margin-bottom: 16px;
        margin-top: -16px;
        background: #FFFFFF;
        box-shadow: 0px 8px 15px rgba(39, 45, 45, 0.06);
        border-radius: 8px;
        padding: 16px !important;
        text-shadow: 0 0 black;
    }

}

.header-contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    padding-bottom: 8px;
}

.main-website {
    /* www.kulikov.com */
    position: absolute;
    bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.208px;
    text-decoration-line: underline;
    color: #000000;
    text-align: center;
    text-align: center;
    width: calc(100% - 32px);
    background: linear-gradient(0deg, rgb(246, 247, 250) 70%, rgba(255, 255, 255, 0));
    height: 60px;
    padding-top: 15px;
}
