[page*=contacts] {
    .toolbar {
        background-color: #ffffff;
    }
}
.contacts-wrapper {
    position: relative;
     &::after {
         top: 0;
         left: -16px;
         content: '';
         background-color: #ffffff;
         position: absolute;
         width: 100vw;
         height: 100%;
         z-index: -1;
         border-radius: 0 0 8px 8px;
     }
    color: #000000;
    .contacts-title {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.41px;
        line-height: 22px;
    }
    .contacts-subtitle {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.24px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .contacts-lined-info {
        font-size: 13px;
        letter-spacing: -0.08px;
        line-height: 18px;
        text-decoration: underline;
    }
    .contacts-link {
        text-decoration: none;
    }
    .contacts-info {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }
    .contacts-info-sub {
        display: flex;
        flex-direction: column;
    }
    .contacts-icon {
        display: flex;
        align-items: center;
        img, .v-btn--fab {
            height: 36px;
            width: 36px;
        }
        .v-btn--fab {
            background-color: #6D0978 !important;
        }
        .v-btn__content {
            color: #ffffff;
        }
        .v-btn--fab i {
            font-size: 0.9rem;
        }
    }
    .padding-bottom {
        padding-bottom: 15px;
    }
    .contacts-work-ours {
        text-decoration: none;
        font-size: 12px;
        line-height: 16px;
        color: rgba(60,60,67,0.6);
    }
}
.contacts-bottom {
    color: #000000;
    padding-top: 16px;
    .list--card {
        padding-bottom: 16px;

        .list-item {
            padding: 9px 16px!important;
            min-height: 48px!important;
            box-shadow: none;
        }
    }
    .center {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.24px;
        line-height: 20px;
        padding-left: 15px;
    }
}
