@import "../../variables";

// Base
$black: rgba(25, 24, 28, 1);
$grey: $black;
$grey-light: #f5f7fa;
$grey-light-second: #e3e8ef;
$red-light: #f50707;
$muted: #9b9fa2;

$great-gradient: linear-gradient(270deg, #423fb1 0%, #0b79bf 100%);
$major-gradient: linear-gradient(225deg, #5067d0 0%, #5c3584 100%);
$global-font-family: "HelveticaNeueCyr", sans-serif;
$purple-gradient-color-first: #b500d4;
$purple-gradient-color-second: #5b007f;
$purple: rgba(223, 184, 239, 1);
$page-background: $grey-light;

$lower-gradient: linear-gradient(135deg, #FDA1A5 9%, #F42753 55%, #B80279 96%);
$secondary-gradient: linear-gradient(135deg, #FDA1A5 9%, #F42753 55%, #B80279 96%);

$grey-2: #e3e8ef;
$red-2: #f50707;

// Global
$shadow: 0 8px 15px 0 rgba(33, 49, 52, 0.2);
$shadow-lite: 0 8px 15px 0 rgba(33, 49, 52, 0.2);
$shadow-block: 0 8px 15px 0 rgba(39, 45, 45, 0.06);

$bold: 500;
$primary: #F42753;
$letter-spacing: 0.2px;
$card-shadow: $shadow-block;

$colors: (
    default: $black,
    primary: $primary,
    muted: $muted,
    danger: $danger,
    warning: $warning,
    success: $success,
);

$paddings: (
    xsmall: 4px,
    small-m: 6px,
    small: 16px,
    xmiddle: 8px,
    middle: 12px,
    base: 16px,
    default: 24px,
    medium: 35px,
    large: 45px,
    large-m: 65px,
    xlarge: 100px,
);

$layout-auth-logo-height: 30px;
$layout-auth-logo-width: 103.78px;
$layout-auth-code-color: $primary;
$layout-auth-code-font-weight: 500;
$layout-auth-text-message-font-size: rem(16);
$layout-auth-text-message-color: $black;
$layout-auth-text-message-letter-spacing: $letter-spacing;
$layout-auth-text-message-line-height: rem(20);
$layout-auth-text-message-font-weight: 300;

$layout-auth-input-inner-color: $black;
$layout-auth-input-inner-font-weight: 300;
$layout-auth-input-inner-font-size: rem(24);
$layout-auth-input-inner-line-height: rem(20);
$layout-auth-input-inner-letter-spacing: $letter-spacing;

$layout-auth-button-text-letter-spacing: $letter-spacing;
$layout-auth-button-text-font-weight: normal;

$button-outline-border-color: $lower-gradient;
$button-outline-color: $lower-gradient;
$button-primary-color: $white;
$button-primary-background: $lower-gradient;
$button-main-background: $lower-gradient;

$tile-title-color: $black;
$tile-title-font-weight: 300;
$tile-title-font-size: vw(16);
$tile-title-line-height: rem(20);
$tile-icon-background: $lower-gradient;
$tile-box-shadow: $shadow-block;

$tabbar-background: $lower-gradient;
$tabbar-button-circle-shadow: $shadow-lite;
$tabbar-button-circle-background: $white;
$tabbar-button-tab-circle-icon-color: $black;

$tabbar-button-tab-background: $white;
$tabbar-button-tab-active-background: $grey-light;
$tabbar-button-tab-lablel-color: $black;
$tabbar-qr-button-tab-lable-color: $black;
$tabbar-gift-content-top: 50px;

$toolbar-background-color: $white;
$toolbar-color: $black;
$toolbar-font-size: rem(24);
$toolbar-font-weight: $bold;
$toolbar-line-height: rem(24);
$toolbar-text-transform: unset;

// Alerts
$alert-text: rem(16);
$alert-letter-spacing: normal;
$alert-line-height: rem(20);
$alert-color: $black;
$alert-font-weight: 300;
$alert-button-cancel-background: $grey-light;
$alert-button-cancel-color: $black;
$alert-icon-info: $lower-gradient;
$alert-icon-error: $indifferent-gradient;
$alert-icon-success: $lower-gradient;
$alert-button-cancel-box-shadow: $shadow-block;

$contacts-icon-color: $lower-gradient;

$input-underbar-border-active: 2px solid $primary;
$input-validation-error-color: $red-light;

$toolbar-auth-color: $black;
$toolbar-auth-font-weight: $bold;
$toolbar-auth-font-size: rem(18);
$toolbar-auth-line-height: rem(24);
$toolbar-auth-letter-spacing: $letter-spacing;
$toolbar-auth-text-transform: initial;

$history-not-found-items-color: $muted;

$qr-scanner-laser-background: $major-gradient;

$personal-edit-border-bottom-color: $grey-light-second;
$personal-edit-border-active-bottom-color: $primary;
$personal-edit-border-radius: 6px;

$personal-edit-checkmark-active-dot-color: $lower-gradient;
$personal-edit-checkmark-border-active: $lower-gradient;
$personal-edit-checkmark-border: $grey-light-second;
$payment-tools-header-shadow: $shadow-block;

$gift-list-item-border-bottom: 1px solid $grey-light;
$screen-gift-discount-background: $lower-gradient;
$screen-gift-price-color: $primary;
$screen-gift-details-price-color: $primary;

$checkbox-square-border-color: $primary;
$checkbox-square-checkmark-border: 2px solid $primary;

$list-item-notification-height: 100px;

$list-header-color: $black;
$list-header-font-weight: $bold;
$list-header-font-size: rem(15);
$list-header-line-height: rem(52);
$list-header-height: rem(42);
$list-header-letter-spacing: $letter-spacing;

$list-notifications-header-color: $black;
$list-notifications-header-font-weight: 300;
$list-notifications-header-font-size: rem(20);
$list-notifications-header-line-height: rem(22);
$list-notifications-header-letter-spacing: $letter-spacing;

$list-notifications-description-height: 40px;
$list-notifications-description-color: $black;
$list-notifications-description-font-weight:  300;
$list-notifications-description-font-size: rem(16);
$list-notifications-description-line-height: rem(20);
$list-notifications-description-letter-spacing: $letter-spacing;

$list-notifications-time-color: rgba(155, 159, 162, 1);
$list-notifications-time-font-weight: 300;
$list-notifications-time-font-size: rem(12);
$list-notifications-time-line-height: rem(14);
$list-notifications-time-letter-spacing: $letter-spacing;

$list-notifications-icon-background: $lower-gradient;
$list-notifications-icon-font-size: rem(24);

$languages-border-color: $primary;

$invoices-tabbar-label-color: $white;

$input-checkmark-checked-border: 2px solid $primary;
$input-checkmark-circle-active-dot-color: $lower-gradient;

$history-calendar-cell-size: 33px;
$history-calendar-title-size: 34px;

$history-calendar-cell-background: $primary;
$history-calendar-cell-ranged: 0.2;
$history-calendar-cell-selected: 1;

$screen-contacts-header-height: 20px;
$screen-contacts-line-height: $screen-contacts-header-height;

$sidebar-menu-icon-color: $lower-gradient;

$tabbar-button-tab-background: #e3e5ee;
$tabbar-button-tab-active-background: $lower-gradient;
$tabbar-button-tab-active-lablel-color: white;
