.fail-page {
    @extend .height--full;
    @extend .flex;
    @extend .flex--justify-center;
    @extend .flex--align-center;

    &__card {
        @extend .position--relative;
        @extend .flex;
        @extend .flex--align-center;
        @extend .flex--column;
        z-index: 3;

        background: $white;
        border-radius: 6px;

        box-shadow: $shadow;

        @extend .padding--medium;
        @extend .width--full;
    }

    &__icon {
        @extend .margin-bottom--base;

        .ons-icon {
            @include text-gradient-one($fail-icon-color);
        }

        @extend .flex;
        @extend .flex--justify-center;
        @extend .flex--align-center;
        @extend .padding--base;

        font-size: rem(50);
    }

    &__heading {
        @extend .text--bold;
        @extend .margin-bottom--small;
    }

    &__text {
        @extend .margin-bottom--small;
    }

    &__button {
        @extend .margin-top--base;
    }

    &__down {

        bottom: $fail-down-bottom;
        z-index: 2;
        width: $fail-down-width;
        background: $fail-down-background;
        border-radius: 0 0 6px 6px;
        box-shadow: $shadow;

        @extend .position--absolute;

        .button {
            font-size: rem(14);

            @extend .text--bold;
            //color: $black;
        }
    }
}
