.card {
    &--vertical {
        @extend .padding--none;
        @extend .margin-top--none;
        @extend .margin-horizontal--none;
        @extend .margin-bottom--small-base;

        border-radius: $border-radius;
        box-shadow: $shadow-block;
        overflow: hidden;

        &.is-muted {
            opacity: 1;
            cursor: default;
            text-decoration: none;

            @extend .position--relative;

            &::after {
                top: 0;
                left: 0;
                content: '';
                background-color: rgba(255, 255, 255, 0.5);

                @extend .position--absolute;

                @include size(100%, 100%);
            }

            input {
                pointer-events: none;
            }
        }

        .card__wrapper {
            @extend .padding-horizontal--base;
            @extend .padding-top--middle;
            @extend .padding-bottom--small;

            min-height: vw(68.4);

            &--modifier {
                @extend .padding-bottom--middle;
            }
        }

        .card__range {
            @extend .margin-top--medium;
        }

        .card__image {
            @include background(cover, center, no-repeat);
            @include size(100%, vw(143.37));
        }

        .card__title {
            @extend .text--bold;
            @extend .margin-top--none;
            @extend .margin-bottom--small;

            line-height: rem(20);
            font-size: rem(15);

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;

            min-height: 40px;
        }

        .card__subtext {
            @extend .text--muted;

            line-height: rem(16);
            font-size: rem(12);
            text-transform: capitalize;
        }
    }

    &--default {
        margin: 0;

        &.card--default-restrict {
            width: calc(100% - 32px);
            margin-left: map_get($margins, base);
        }
    }

    &--header {
        @extend .flex;
        @extend .flex--column;
        @extend .flex--justify-center;
        @extend .flex--align-top;
        @extend .text--bold;
        @extend .padding-vertical--small;

        line-height: rem(20);
        font-size: rem(15);

        span {
            font-size: rem(12);
            line-height: rem(16);

            @extend .text--muted;
        }
    }
}

.card-container {
    &--actions {
        height: vw(225);
        overflow: visible;
        //height: auto;

        .card-container__wrapper {
            @extend .padding-horizontal--base;
            height: vw(232);
            padding-bottom: map_get($paddings, base);
            width: 100vw;
            scroll-snap-type: x mandatory;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            scroll-padding: 1rem;
            overscroll-behavior: contain;

            > * {
                scroll-snap-align: start;
                display: inline-block;
                width: vw(140);
                height: 100%;
            }

            > div + div {
                margin-left: map-get($margins, small-base) !important;
            }

            .card--vertical {
                @extend .margin-bottom--none;

                .card__image {
                    height: vw(140);
                }

                .card__title {
                    font-size: rem(15);
                    word-break: break-word;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 40px;
                }

                .card__wrapper {
                    //height: vw(68.5);
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &--raffles {
        overflow: visible;

        .card-container__horizontal-wrapper {
            @extend .padding-horizontal--base;

            width: 100vw;
            height: 98px;
            padding-bottom: map_get($paddings, base);
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            scroll-padding: 1rem;
            overscroll-behavior: contain;

            > * {
                scroll-snap-align: start;
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            > div + div {
                margin-left: map-get($margins, small-base) !important;
            }
        }

        .card-container__vertical-wrapper {
            height: 100%;

            > div > div + div {
                margin-top: map-get($margins, small-base) !important;
            }
        }

        .card--horizontal {
            @extend .margin-bottom--none;

            height: 82px;
            overflow: hidden;
            background-color: $white;
            border-radius: $border-radius;
            box-shadow: 0 8px 15px 0 rgba(39, 45, 45, 0.06);

            &.muted {
                i {
                    color: $muted !important;
                }

                .card__text--block {
                    color: $muted !important;
                }

                .card__subtext {
                    color: $muted !important;
                }

                .card__dibs {
                    color: $muted !important;
                }
            }

            .card__content {
                display: flex;
                width: 100%;
                height: 100%;

                .card__image--block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 88px;
                    min-width: 88px;
                    padding: 15px 14px 15px 16px;

                    i {
                        color: $primary;
                        font-size: rem(24);
                    }

                    .card__dibs {
                        color: $black;
                        font-size: rem(24);
                        line-height: 26px;
                        letter-spacing: -1px;
                        text-align: center;
                    }
                }

                .card__text--block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: calc(100% - 16px);
                    padding: 11px 16px 11px 0;
                    color: $black;

                    .card__title {
                        display: -webkit-box;
                        margin: 0;
                        overflow: hidden;
                        font-weight: $bold;
                        font-size: rem(15);
                        line-height: rem(20);
                        letter-spacing: rem(-0.24);
                        white-space: normal;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        word-break: break-word;
                    }

                    .card__subtext {
                        margin-top: 4px;
                        color: $grey-dark;
                        font-weight: normal;
                        font-size: rem(12);
                        line-height: rem(16);
                        letter-spacing: normal;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 320px) {
        height: vw(225);
    }
}

.v-card {
    &.v-select-list {
        box-shadow: $shadow-lite;

        &>:last-child:not(.v-btn):not(.v-chip) {
            border-radius: $border-radius;
        }
    }
}

.v-menu__content {
    border-radius: $border-radius;
    box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
}

.v-select-list {
    .v-list {
        @extend .padding-vertical--none;
        .v-list-item {
            min-height: 43px;
            background-color: $white;

            &--link::before {
                opacity: 1 !important;
                background-color: $white;
            }

            .v-ripple__container {
                .v-ripple__animation {
                    background-color: $grey-light-second !important;
                    &::before {
                        opacity: 1 !important;
                        background-color: $grey-light-second !important;
                    }
                }

            }

            &--active {
                .v-list-item__title {
                    color: $black;
                    font-size: rem(15);



                    &::after {
                        @extend .position--absolute;

                        color: $primary;
                        top: 0;
                        right: 0;
                        content: '\f108';
                        font-family: 'icons';
                    }
                }

                &::before {
                    opacity: 1 !important;
                    background-color: $grey-light-second !important;
                }
            }
        }
    }
}
