.list {
    &--lite {
        @extend .margin-bottom--base;
        
        > .list-item {
            min-height: 40px;
            border-bottom: none;
            background: transparent;
        }

        .center {
            @extend .flex;
            @extend .flex--justify-center;
            @extend .flex--align-top;
            @extend .flex--column;
            @extend .width--full;

            line-height: rem(20);
            font-size: rem(15);
            color: $black;

            .sub-text {
                @extend .margin-top--small;
                
                font-size: rem(12);
                color: $muted;
                line-height: rem(16);
            }
        }

        .right {
            min-width: 30px;

            @extend .flex;
            @extend .flex--justify-right;
            @extend .flex--align-center;

            .ons-icon {
                font-size: rem(16);
                color: $primary;
            }
        }
    }

    &--vertical {
        .list-item {
            @extend .flex;
            @extend .flex--justify-center;
            @extend .flex--align-center;
            @extend .flex--column;

            .left, 
            .center, 
            .right {
                @extend .width--full;
                @extend .padding--none;
            }

            .left {
                font-size: rem(15);

                @extend .text--bold;
            }

            .center {
                line-height: rem(18);
                font-size: rem(13);
            }

            .right {
                font-size: rem(12);
                
                //@extend .text--muted;
                @extend .flex--justify-between;
                @extend .flex--align-center;
                @extend .flex;
                @extend .flex--row;
            }

            &--adress {
                @extend .margin-top--base;

                .left,
                .center,
                .right {
                    min-height: 25px;

                    .ons-icon {
                        @extend .margin-right--small-base;

                        color: $primary;
                        font-size: rem(16);
                    }
                }

                .left {
                    letter-spacing: -0.08px;
                    font-size: rem(13);

                    @extend .text--normal;
                }
            }
        }
    }

    &--indentation {
        .list-item {
            @extend .padding-vertical--middle;
            @extend .is-underline;

            .left,
            .center {
                @extend .margin-bottom--small;
            }

            &:first-child {
                @extend .padding-top--none;
            }

            &:last-child {
                @extend .padding-bottom--none;
            }
        }
        
        &.is-non-underline {
            .list-item {
                @extend .margin-bottom--base;
                @extend .padding-vertical--none;

                &::after {
                    display: none;
                }

                &:last-child {
                    @extend .margin-bottom--none;
                }
            }
        }
    }

    &--feature {
        width: 100vw;
        left: -16px;
        
        .v-list-item__content {
            @extend .padding-horizontal--base;
        }
    }

    .list-item {
        &--adress {
            margin-top: 33px;

            &::after {
                @extend .position--absolute;
                @extend .dotted-underline;

                @include size(100%, 1px);

                left: 0;
                top: -16px;
                content: '';
            }
        }
    }
}

.profile-list.v-list {
    padding: map_get($margins, middle) 0;
    border-radius: $border-radius;
    box-shadow: $shadow-block;

    .v-list-item {
        min-height: 48px;

        &__title {
            color: $grey-dark;
            font-weight: normal;
            font-size: rem(12);
            line-height: rem(16);
            letter-spacing: normal;
            text-align: left;
        }

        &__subtitle {
            color: $black;
            font-weight: normal;
            font-size: rem(15);
            line-height: rem(20);
            letter-spacing: rem(-0.24);
            text-align: left;
        }

        &__content {
            padding: map_get($paddings, xsmall) 0;
        }

        &__content>:not(:last-child) {
            margin-bottom: map_get($margins, small);
        }
    }
}

.muted-list.v-list {
    .v-list-item {
        min-height: 44px;
        padding: 0 16px;

        &__title {
            color: $black;
            font-weight: normal;
            font-size: rem(15);
            line-height: rem(20);
            letter-spacing: rem(-0.24);
            text-align: left;
        }

        &__icon {
            min-width: 14px;
            margin: 0;
            align-self: center;

            i {
                color: map_get($colors, primary);
                font-size: rem(14);
            }
        }
    }

    .v-subheader {
        height: auto;
        color: $black;
        font-weight: $bold;
        font-size: rem(17);
        line-height: rem(22);
        letter-spacing: rem(-0.41);
        text-align: left;
        padding: 4px 16px;
    }
}

.v-list {
    .v-list-item-group {
        .v-list-item--active {
            color: $black;
        }
    }

    .v-list-item {
        min-height: 40px;

        &__content {
            @extend .padding-vertical--none;
        }

        &__title {
            line-height: rem(20);
            font-size: rem(15);

            @extend .position--relative;
        }

        &--active {
            &::before {
                background-color: transparent;
            }
        }

        .v-ripple__container {
            //min-width: 100vw;

            .v-ripple__animation {
                background: $grey-light-third !important;
            }
        }
    }
}

.country-list {
    .v-list-item {
        @extend .padding-left--none;
    }
    .v-list-item__content {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .v-list-item__title {
        //line-height: rem(20);
    }
    .flag {
        max-width: 30px;
        margin-right: 12px;
        border-radius: 2px;
        width: 30px;
        height: 20px;
        margin-bottom: 0;
    }
}

.dotted-underline {
    background-image: linear-gradient(to right, $grey-light-third 4px, transparent 1px);
    background-size: 6px 1px;
    background-repeat: repeat-x;
    background-position: left top;
}
