.merchant-item {
    margin-top: $base-size;
    border-radius: $br-base;
    &__img {
        position: relative;
        height: 0;
        padding-bottom: 50%;
        border-radius: $br-base $br-base 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $white;
    }
    &__info {
        @extend .card__body;
        border-radius: 0 0 $br-base $br-base !important;
    }
    &__name {
        color: $black;
        font-size: rem(16);
        line-height: rem(18);
        font-weight: $normal;
    }
    &__address {
        margin-top: 4px;
        color: #9B9FA2;
        font-size: rem(14);
        line-height: rem(16);
        font-weight: $normal;
    }
    &__distance {
        margin-top: 10px;
        height: 14px;
        color: $primary;
        font-size: rem(12);
        font-weight: $bold;
        line-height: rem(14);
    }
    &__button {
        position: absolute;
        bottom: 0;
        right: $base-size;
        transform: translateY(50%);
        box-shadow: 0 8px 15px 0 rgba(144,95,40,0.15);
        color: $white !important;
        font-size: rem(14);
        font-weight: $bold;
        line-height: rem(16);
        border-radius: 50%;
        height: 46px;
        width: 46px;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
