.news-banner-wrapper {
  padding: 0px 16px;
}
.news-banner {
  height: 140px;
  border-radius: 8px;
  margin: 8px 0;
  width: 100%;
  position: relative;
  background-size: cover;
  .new {
    position: absolute;
    right: 0;
    top: 0;
    background: #FF0000;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 600;
    font-size: rem(12);
    line-height: rem(16);
    color: #FFFFFF;
    padding: 5px 8px;
  }
}
