@mixin hook-page-layout() {
    padding-top: 16px !important;
}

@mixin hook-page-background() {
    @extend .position--absolute;

    top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    background: $page-background;
}

@mixin hook-iphonex() {

}
