.dropdown-list {
    max-width: 200px;

    &__item {
        .top {
            width: auto;
        }
    }

    &__content {
        width: auto;
    }
}

.dropdown-list-base {
    position: relative;
    min-height: $dropdown-list-height;
    overflow: visible;

    &__item {
        position: relative;

        .top {
            min-height: $dropdown-list-height;
        }
    }

    &__content {
        position: absolute;
        top: $dropdown-list-height;
        z-index: 55;
    }
}
