.pull-hook--wrapper {
    span {
        color: $primary;
        font-weight: $bold;
        font-size: rem(13);
        font-family: "SF UI Text", sans-serif !important;
        letter-spacing: rem(-0.21);
    }
}
