@import "layout/raffle-details";

.raffle {
    &__title {
        color: $black;
        font-weight: $bold;
        font-size: rem(20);
        line-height: rem(24);
        letter-spacing: normal;
    }

    &__img {
        width: 100%;
        height: calc((100vw - 32px) / 2);

        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            object-fit: cover;
        }
    }

    &__text-normal {
        color: $black;
        font-size: rem(15);
        line-height: rem(20);
        letter-spacing: rem(-0.24);
    }

    &__text-primary-bold {
        color: $primary;
        font-weight: $bold;
    }

    &__text-bold {
        font-weight: $bold;
    }

    &__dashed-border {
        box-sizing: border-box;
        border-top: 1px dashed $grey-light-third;
        border-bottom: 1px dashed $grey-light-third;
    }

    &__dashed-border-top {
        box-sizing: border-box;
        border-top: 1px dashed $grey-light-third;
    }

    &__text-muted {
        color: $grey-dark;
        font-size: rem(12);
        line-height: rem(16);
        letter-spacing: normal;
    }
}
